homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 66
  unit_system: imperial
  time_zone: America/New_York
  whitelist_external_dirs: /config

  customize: !include customize.yaml

  customize_glob:
    "switch.tv_*":
      icon: mdi:power-socket-eu
      google_assistant: true   
    "switch.onkyo_*":
#      assumed_state: false 
      icon: mdi:power-socket-eu
# while "assumed_state" did turn the remote controls into toggles... 
#doesnt help the use case
#
#
# The next line caused logic problems with HAASKA
#   not filtering at this global level
#
#    "*.*":
#      haaska_hidden: false
#
#
# Then we whitelist 3 domains for HAASKA
#
#
  customize_domain:
    automation:
      hidden: true
#    light:
#      haaska_hidden: false
#    script:
#      haaska_hidden: false
#    cover:
#      haaska_hidden: false
#    switch:
#      haaska_hidden: true
#    group:
#      haaska_hidden: true

#
#
# Then whitelist specific entities in customize.yaml
#
#


automation: !include automation.yaml
script: !include script.yaml
light: !include light.yaml
sensor: !include sensor.yaml
notify: !include notify.yaml
group: !include_dir_merge_named group/
google_assistant: !include google_assistant.yaml
alexa: !include alexa.yaml
device_tracker: !include device_tracker.yaml


api:
sun:
config:



frontend:
  themes:
    Mom:
      primary-color: pink
    Dad:
      primary-color: blue



mqtt:
  broker: 7.7.7.99
  client_id: home-assistant-1
#  user: cisco
#  password: cisco



http:
  api_password: !secret http_api_pass
  ssl_certificate: /certs/fullchain.pem
  ssl_key: /certs/privkey.pem
  base_url: !secret base_url



logger:
  default: debug
  logs:
    homeassistant.components.recorder.util: info
    homeassistant.components.history: info
    homeassistant.components.websocket_api: info
    homeassistant.components.device_tracker.ping: info
    roku: info
    panasonic_viera: info
# see docs https://www.home-assistant.io/components/logger/
# use whatever you see in square brackets in the log as the filter name here



recorder:
#number of history days to keep in recorder database after a purge.
  purge_keep_days: 7
# How often (in days) the purge task runs
  purge_interval: 1
  include:
    domains:
      - light
      - cover
      - automation
      - script
      - sensor
      - media_player
    entities:
     - group.family_room
     - group.kitchen
     - sun.sun
     - sensor.speedtest_download
     - sensor.speedtest_upload
     - sensor.speedtest_ping
     - sensor.garage
     - sensor.foyer
     - sensor.fireplace
     - sensor.table
     - sensor.tall
     - sensor.island
     - sensor.top
     - sensor.brandon
     - sensor.garage_temp

# This should keep db size down a bit... 
# used different domain/entity list for history and recorder components
#   so that I could control display order for "history"



history:
  use_include_order: True
#  hours_to_show: 48
  include:
#    domains:
#      - light
#      - cover
    entities:
     - cover.garage
     - light.Table
     - light.Island
     - light.Top
     - light.Fireplace
     - light.Foyer
     - light.Tall
     - light.Brandon
     - sun.sun
     - sensor.speedtest_download
     - sensor.speedtest_upload
     - sensor.speedtest_ping
     - sensor.garage
     - sensor.foyer
     - sensor.fireplace
     - sensor.table
     - sensor.tall
     - sensor.island
     - sensor.top
     - sensor.brandon
     - sensor.garage_temp


# Note entities configured here are shown *before* a) their specific domains b) all domains
# not counting sensors which are graphed below


history_graph:
  rssi_garage:
    entities:
      - sensor.garage
    hours_to_show: 240
    refresh: 60
  rssi_foyer:
    entities:
      - sensor.foyer
    hours_to_show: 240
    refresh: 60
  rssi_fireplace:
    entities:
      - sensor.fireplace
    hours_to_show: 240
    refresh: 60
  rssi_table:
    entities:
      - sensor.table
    hours_to_show: 240
    refresh: 60
  rssi_tall:
    entities:
      - sensor.tall
    hours_to_show: 240
    refresh: 60
  rssi_island:
    entities:
      - sensor.island
    hours_to_show: 240
    refresh: 60
  rssi_top:
    entities:
      - sensor.top
    hours_to_show: 240
    refresh: 60
  rssi_brandon:
    entities:
      - sensor.brandon
    hours_to_show: 240
    refresh: 60
  temp_garage:
    entities:
      - sensor.garage_temp
    hours_to_show: 240
    refresh: 60



logbook:
  include:
    entities:
      - group.kitchen
      - group.family_room
  exclude:
    domains:
      - group



panel_iframe:
  radar_embed:
    title: 'Weather Radar'
    icon: mdi:weather-snowy-rainy
    url: /local/darksky_radar.html

  graphbar:
    title: '24 Hr. Forecast'
    icon: mdi:weather-sunset-up
    url: /local/darksky_graphbar.html

  default_embed:
    title: '7 Day Forecast'
    icon: mdi:calendar
    url: /local/darksky_default.html



#panel_custom:
#  - name: reactpanel
#    sidebar_title: Example
#    sidebar_icon: mdi:checkbox-marked-outline
#    url_path: weather
#    js_url: 'https://darksky.net/widget/default/42.360082,-71.05888/us12/en.js'
#    embed_iframe: true
#panel_custom:
#  - name: hello
#    sidebar_title: Hello World
#    config:
#      who: Paulus
#    url_path: hello



camera:
  platform: generic
  name: RDU
#  limit_refetch_to_url_change: true
  still_image_url: !secret camera.rdu_still_image_url



alert:
  garage:
    name: Garage open 30 minutes
    entity_id: cover.garage
    state: 'open'   # Optional, 'on' is the default value
    repeat: 30
    can_acknowledge: true  # Optional, default is true
    skip_first: true  # Optional, false is the default
    notifiers:
      - alexas



input_number:
  temp:
    name: A/C Setting
    initial: 74
    min: 60
    max: 99
    step: 1



cover:
  - platform: mqtt
    name: "Garage"
    state_topic: "stat/garage/POWER2"
    command_topic: "cmnd/garage/power1"
    availability_topic: "tele/garage/LWT"
#all three of these are ON - because the Tasmota just sends a pulse
    payload_open: "ON"
    payload_close: "ON"
    payload_stop: "ON"
#State follows the "Reed Closed" reed switch = "ON" when garage door is closed
#you can actually customize the state payloads from Tasmota with "StateTextx"
    state_open: "OFF"
    state_closed: "ON"
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: false



media_player:
  - platform: panasonic_viera
    host: 7.7.7.242
    mac: 8c:c1:21:60:26:0b
  - platform: roku
    host: 7.7.7.243
  - platform: plex
    host: 7.7.7.99
    show_all_controls: true
    entity_namespace: 'plex'
    use_custom_entity_ids: true



counter:
  mycounter:
    initial: 30
    step: 1



switch:
  - platform: broadlink
    host: 7.7.5.66
    mac: 34:ea:34:e3:af:7f 
    timout: 5
    switches:
      !include_dir_merge_named broadlink

  - platform: template
    switches:
      garage_door:
        value_template: "{{ is_state('cover.garage', 'closed') }}"
        turn_on:
          service: cover.open_cover
          data:
            entity_id: cover.garage
        turn_off:
          service: cover.close_cover
          data:
            entity_id: cover.garage
        icon_template: >-
          {% if is_state('cover.garage', 'closed') %}
            mdi:garage
          {% else %}
            mdi:garage-open
          {% endif %}

input_boolean:
  switch_tv:
    name: for testing lovelaceUI
    initial: off
    icon: mdi:car
  garage_stopped:
    initial: OFF
  garage_opening:
    initial: OFF
  garage_opening_twelve:
    initial: OFF
  garage_opening_eleven:
    initial: OFF
  garage_opening_ten:
    initial: OFF
  garage_opening_nine:
    initial: OFF
  garage_opening_eight:
    initial: OFF
  garage_opening_seven:
    initial: OFF
  garage_opening_six:
    initial: OFF
  garage_opening_five:
    initial: OFF
  garage_opening_four:
    initial: OFF
  garage_opening_three:
    initial: OFF
  garage_opening_two:
    initial: OFF
  garage_opening_one:
    initial: OFF
  garage_closing:
    initial: OFF
  garage_closing_twelve:
    initial: OFF
  garage_closing_eleven:
    initial: OFF
  garage_closing_ten:
    initial: OFF
  garage_closing_nine:
    initial: OFF
  garage_closing_eight:
    initial: OFF
  garage_closing_seven:
    initial: OFF
  garage_closing_six:
    initial: OFF
  garage_closing_five:
    initial: OFF
  garage_closing_four:
    initial: OFF
  garage_closing_three:
    initial: OFF
  garage_closing_two:
    initial: OFF
  garage_closing_one:
    initial: OFF


#binary_sensor:
#  - platform: template
#    sensors:
#      garage_opening:
#        friendly_name: Garage Opening
#        value_template: '{{(as_timestamp(now()) - as_timestamp(states.automation.garage_door_opening.last_updated) < 1800)}}'
#        entity_id: sensor.time

#  - platform: ping
#    host: 10.5.2.8
#    name: Internal DNS
#  - platform: ping
#    host: 10.5.2.3
#    name: Exchange
#  - platform: ping
#    host: 10.5.2.4
#    name: Postfix
#  - platform: ping
#    host: 10.5.2.5
#    name: FTP
#  - platform: ping
#    host: 10.5.2.6
#    name: UCM7
#  - platform: ping
#    host: 10.5.2.7
#    name: Unity
#  - platform: ping
#    host: 10.5.2.231
#    name: WWW_PB
#  - platform: ping
#    host: 7.7.7.5
#    name: WiFi_AP
#  - platform: ping
#    host: 7.7.7.177
#    name: C2960
#  - platform: ping
#    host: 10.5.2.2
#    name: C3560_Air
#  - platform: ping
#    host: 7.7.7.1
#    name: C3560
#  - platform: ping
#    host: 10.5.2.20
#    name: DRAC_Celito
#  - platform: ping
#    host: 10.5.2.21
#    name: ESX_Celito
#  - platform: ping
#    host: 10.5.2.177
#    name: C3550_Air
#  - platform: ping
#    host: 10.7.7.2
#    name: C3550_Wire
#  - platform: ping
#    host: 192.168.1.203
#    name: Rackweb
#  - platform: ping
#    host: 10.9.9.3
#    name: CycladesRack1
#  - platform: ping
#    host: 10.9.9.41
#    name: APC1
#  - platform: ping
#    host: 10.9.9.200
#    name: DRAC1
#  - platform: ping
#    host: 10.9.9.201
#    name: ESX1
#  - platform: ping
#    host: 10.9.9.203
#    name: DRAC2
#  - platform: ping
#    host: 10.9.9.204
#    name: ESX2
#  - platform: ping
#    host: 10.9.9.207
#    name: DRAC3
#  - platform: ping
#    host: 10.9.9.208
#    name: ESX3
#  - platform: ping
#    host: 10.9.9.209
#    name: DRAC4
#  - platform: ping
#    host: 10.9.9.210
#    name: ESX4
#  - platform: ping
#    host: 10.9.9.212
#    name: DRAC5
#  - platform: ping
#    host: 10.9.9.202
#    name: FOG
